{{extend './_layout/home.html'}}


{{block 'htmlTitle'}}
<title>电价导入</title>
{{/block}}

{{block 'fillInfo'}}
<div class="container">
  <h3 class="myH2Style">上传电价</h3>
  <p style="color:red;">注意：</p>
  <p>暂时未做查重处理，请删除所有数据后导入</p>
  <p>根据sql导入数据到excel表格，最后一列全填“#”，然后复制到这里，sql语句如下：</p>
  <p>SELECT     PrID, TinEPr, PeakPr, FlatPr, ValEPr <br>
    FROM         C_Pr <br>
    WHERE     (VerID = 'pr13')</p>

  <div class="divBaseStyle">
    <form id="addPrices" action="">
      <div class="form-group">
        <label style="display: block">输入文本</label>
        <textarea class="importTextarea" name="dataStr" id="sqlId" cols="30" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">上传信息</button>
    </form>
    <br>
    <button id="deleteAllPrice" class="btn btn-danger">删除全部电价信息</button>
    <button id="backIndex" class="btn">返回主页</button>
  </div>
</div>

{{/block}}


{{block 'script'}}


<script>

  ;(function () {

    $('#deleteAllPrice').on('click',function () {

      $.ajax({
        url: '/deletePriceAll',
        type: 'post',
        data: '',//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {
          window.alert('删除成功！')
        }
      })
    })



    $('#backIndex').on('click', function () {
      window.location.href = '/'
    })



    $('#addPrices').on('submit', function (e) {

      e.preventDefault()

      var formData = $(this).serialize()

      $.ajax({
        url: '/addPrices',
        type: 'post',
        data: formData,//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {
          window.alert('上传成功！')
          window.location.href = '/'
        }
      })


    })

  }())


</script>

{{/block}}