{{extend './_layout/home.html'}}

{{block 'fillInfo'}}
<div class="bkDataFee">

  <a href="/addUsers">批量上传用户信息</a>
  <h3 class="myH2Style">用户查找</h3>

  <div class="container divBaseStyle">

    <form id="findUser">

        <div class="form-group">
          <label for="">用户编号</label>
          <input name="userId" type="text" placeholder="">
        </div>
        <div class="form-group">
          <button type="submit" class="btn">查找</button>
        </div>

    </form>
    <p id="userId">用户编号：<span></span></p>
    <p id="userName">用户名称：<span></span></p>
  </div>

  <!--填入项-->
  <h3 class="myH2Style">信息录入</h3>
  <div class="fillInfo container divBaseStyle">
    <form id="calculateFee">
      <div class="row">
        <div class="form-group col-md-3 text-right">
          <label for="">基本电费</label>
          <input name="baseExes" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">变损电量</label>
          <input name="lossNum" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">其他电费</label>
          <input name="otherExes" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 text-right">
          <label for="">奖惩系数工业</label>
          <input name="power_G" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">奖惩系统商业</label>
          <input name="power_S" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 text-right">
          <label for="">电价版本</label>
          <select name="selectedPrice">
            <option value="pr1301" selected>pr1301工业</option>
            <option value="pr1302">pr1302动照比用商业</option>
            <option value="pr1303">pr1303大商</option>
            <option value="pr1304">pr1304小商</option>
          </select>
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">动照比</label>
          <input name="ratio" type="text" placeholder="百分比数字">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 text-right">
          <label for="">尖电量</label>
          <input name="tinNum" type="text" placeholder="尖端电量">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">峰电量</label>
          <input name="peakNum" type="text" placeholder="峰段电量">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">平电量</label>
          <input name="flatNum" type="text" placeholder="平段电量">
        </div>
        <div class="form-group col-md-3 text-right">
          <label for="">谷电量</label>
          <input name="valNum" type="text" placeholder="谷段电量">
        </div>
      </div>
      <div class="form-group col-md-3 text-right">
        <button type="submit" class="btn btn-success btn-block">计算</button>
      </div>

    </form>
  </div>


</div>
{{/block}}
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
{{block 'script'}}
<script>


  // 电度电费计算
  ;(function () {

// 计算电费
    $('#calculateFee').on('submit', function (e) {
      e.preventDefault()

      var formData = $(this).serialize()

      $.ajax({
        url: '/calculateFee',
        type: 'post',
        data: formData,//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {
          // console.log('chengongla')
          // console.log(data)
          window.location.href = '/calculateFee'
        }
      })
    })


    // 查找用户
    $('#findUser').on('submit', function (e) {
      e.preventDefault()

      var formData = $(this).serialize()

      $.ajax({
        url: '/findUser',
        type: 'post',
        data: formData,//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {

          var user=data.result

          $('#userId>span').text(user.userId)
          $('#userName>span').text(user.userName)

          $("[name='lossNum']").val(user.lossNum)
          $("[name='baseExes']").val(user.baseExes)
        }
      })
    })

  }())


</script>
{{/block}}