{{extend './_layout/home.html'}}

{{block 'htmlTitle'}}
<title>电费计算</title>
{{/block}}

{{block 'fillInfo'}}
<div class="bkDataFee">


  <div class="container ">
    <h3 class="myH2Style">用户查找</h3>
    <div class="divBaseStyle">

      <form id="findUser">
        <div class="row">
          <div class="form-group col-md-3 col-sm-6 ">
            <label for="">用户编号</label>
            <input class="form-control" name="userId" type="text" placeholder="">
          </div>
        </div>
          <div class="row">
            <div class="form-group col-md-3 col-sm-6 ">
              <button type="submit" class="btn btn-primary btn-block">查找</button>
            </div>
          </div>
      </form>

    <p id="userId">用户编号：<span></span></p>
    <p id="userName">用户名称：<span></span></p>
  </div>
</div>

<!--填入项-->
<div class="container">
  <h3 class="myH2Style">信息录入</h3>
  <div class="divBaseStyle">
    <form id="calculateFee">
      <div class="row">
        <div class="form-group col-md-3 col-sm-6 ">
          <label for="">基本电费</label>
          <input class="form-control" name="baseExes" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3 col-sm-6   ">
          <label for="">变损电量</label>
          <input class="form-control" name="lossNum" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3  col-sm-6  ">
          <label for="">其他电费</label>
          <input class="form-control" name="otherExes" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">奖惩系数工业</label>
          <input class="form-control" name="power_G" type="text" placeholder="">
        </div>
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">奖惩系统商业</label>
          <input class="form-control" name="power_S" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">电价版本</label>
          <select class="form-control" name="selectedPrice">
            <option value="Pr1301" selected>10kv工业动照比</option>
            <option value="Pr1304">10kv商业</option>
            <option value="Pr1305">0.4kv商业</option>
          </select>
        </div>
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">动照比(非动照比工业填100，商业填0)</label>
          <input class="form-control" name="ratio" type="text" placeholder="百分比数字">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">尖电量</label>
          <input class="form-control" name="tinNum" type="text" placeholder="尖端电量">
        </div>
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">峰电量</label>
          <input class="form-control" name="peakNum" type="text" placeholder="峰段电量">
        </div>
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">平电量</label>
          <input class="form-control" name="flatNum" type="text" placeholder="平段电量">
        </div>
        <div class="form-group col-md-3 col-sm-6  ">
          <label for="">谷电量</label>
          <input class="form-control" name="valNum" type="text" placeholder="谷段电量">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 col-sm-6  ">
          <button type="submit" class="btn btn-primary btn-block">计算</button>
        </div>
      </div>

    </form>
  </div>
</div>


</div>
{{/block}}
{{block 'script'}}
<script>


  // 电度电费计算
  ;(function () {

// 计算电费
    $('#calculateFee').on('submit', function (e) {
      e.preventDefault()

      var formData = $(this).serialize()

      $.ajax({
        url: '/calculateFee',
        type: 'post',
        data: formData,//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {
          // console.log('chengongla')
          // console.log(data)
          window.location.href = '/calculateFee'
        }
      })
    })


    // 查找用户
    $('#findUser').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      $.ajax({
        url: '/findUser',
        type: 'post',
        data: formData,//提交的数据
        dataType: 'json',//预期服务器返回的数据类型
        success: function (data) {

          console.log(data)

          var user = data.result

          if (user) {

            $('#userId>span').text(user.userId)
            $('#userName>span').text(user.userName)

            $("[name='lossNum']").val(user.lossNum)
            $("[name='baseExes']").val(user.baseExes)
            $("[name='ratio']").val(user.ratio)


            var currentPriceId=''

            var gongye=['01','02','03','06'].indexOf(user.priceId.substring(4))
            var shangye=['04','07'].indexOf(user.priceId.substring(4))

            if(gongye!==-1){
              currentPriceId=user.priceId.substring(0,4)+'01'
            }else if(shangye!==-1){
              currentPriceId=user.priceId.substring(0,4)+'04'
            }else{
              currentPriceId=user.priceId
            }

            $("[name='selectedPrice']").val(currentPriceId)


            window.alert(currentPriceId)

          } else {
            window.alert('未找到所填用户编号的信息，请查证后输入')
          }


        }
      })
    })

  }())


</script>
{{/block}}