body{

}

header{
  height: 50px;
  background-color: #0e4779;
  color: #fff;
  ul{
    list-style: none;
    li{
      float: left;
      &.logoName{
        font-size: 28px;
        width: 300px;
        text-align: left;
        line-height: 50px;
      }

      a{
        display: block;
        padding: 0 10px;
        color: #fff;
        font-size: 16px;
        line-height: 50px;
        text-decoration: none;
        &:hover{
          color: #fff;
          background-color: #f68d1c;
        }
      }
    }
  }
}

.divBaseStyle{
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.mainFeeTable{
  padding: 0 40px;

}

//表格字体加粗
.tableTdBolder{
  font-weight: 700;
}

//h2字体样式
.myH2Style{
  margin: 20px 0;
  padding: 10px 0 0;
  border-bottom: 1px solid #ccc;
  width: 110px;
}

//合计电费加红色
.fontColorRed{
  font-weight: 700;
  color: red;
}

//导入页面的文本框样式
.importTextarea{
  width: 100%;
}
