body{
  padding: 20px;
}
.bkDataFee{
  table{
    width: 80%;
  }
}

//表格字体加粗
.tableTdBolder{
  font-weight: 700;
}

//h2字体样式
.myH2Style{
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}