<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<header>
  <p>算费测试页面</p>
</header>
<div class="userInfo">
  <h2 class="myH2Style">基本信息</h2>
</div>
<!--填入项-->
{{block 'fillInfo'}}{{/block}}
<!--电度电费-->
{{block 'bkDataFee'}}{{/block}}

<script src="/node_modules/jquery/dist/jquery.min.js"></script>

<!--js代码项-->
{{block 'script'}}{{/block}}

</body>
</html>